<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>

<body class="content-menu">
    <header>
    </header>

    <main>
        <div class="container-home container-paciente">
            <h1 class="titulo">Procedimento</h1>

            <div class="card-menu">
                <table class="table-menu table-striped" id="procedimentos">
                    <thead>
                        <tr>
                            <th class="paciente-id procedimento-id">ID</th>
                            <th>Descricao</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="procedimento : ${listaProcedimento}">
                            <td class="paciente-id procedimento-id" th:text="${procedimento.id}"></td>
                            <td th:text="${procedimento.descricao}"></td>
                            <td class="cell-buttons">
                                <a type="button" th:href="@{'/procedimento/alterar/'+${procedimento.id}}" href=""
                                    class="btn-minecraft btn-alterar"><img src="https://i.imgur.com/2svnRfB.png"
                                        alt=""></a>
                                <a type="button" class="btn-minecraft btn-alterar btn-excluir js-delete"
                                    th:data-id="${procedimento.id}"><img src="https://i.imgur.com/BAaUQSI.png"
                                        alt=""></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="buttons-menu">
                <a th:href="@{/}" class="btn-minecraft btn-menu">Voltar</a>
                <a th:href="@{/procedimento/novo}" class="btn-minecraft btn-menu">Novo</a>
            </div>
    </main>

    <footer>
        <div th:include="layout :: footer">(footer)</div>
    </footer>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#procedimentos").on('click', '.js-delete', function () {
                let button = $(this);
                bootbox.confirm("Confirma a exclusão \
                    do registro?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '/procedimento/deletar/' + button.attr('data-id'),
                            method: 'GET',
                            success: function () {
                                window.location.href = '/procedimento/';
                            }
                        });
                    }
                });
            });
        });
    </script>
</body>

</html>