.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url(images/backgroud-home.jpg);
    height: 100%;
    background-size: cover;

}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.container-home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.image-logo {
    display: block;
    max-width: 100%;
    position: relative;
}


.image-logo img {
    cursor: pointer;
    width: 700px;
}

.image-logo::before {
    white-space: nowrap; 
    display: block;
    position: absolute;
    font-size: 1.5rem;
    content: "A.P.D.A.";
    color: yellow;
    top: 90px;
    left: 600px;
    text-shadow: 0px 2px 0px #000000;
    animation: zoom-in-zoom-out 0.5s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1) rotate(340deg);
    }

    50% {
        transform: scale(1.1, 1.1) rotate(340deg);
    }

    100% {
        transform: scale(1, 1) rotate(340deg);
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
}

.menu-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33.3%;
}

.menu-options .btn-minecraft:first-child {
    margin-right: 10px;
}


.btn-minecraft {
    background: #727272;
    color: rgb(247, 247, 247);
    width: 100%;
    padding: .5rem 0;
    margin-bottom: .75rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    letter-spacing: .025em;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
        inset -3px -3px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-minecraft:hover {
    color: rgb(247, 247, 247);
    background: rgba(115, 107, 221, 1);
}

.btn-minecraft:focus {
    color: rgb(246, 246, 44);
    outline: none;
}

