.content-menu {
    color: #ffff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
}

.content-menu:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-image: url(images/backgroud-menu.jpg);
    height: 100%;
    background-size: cover;

}

.btn-menu {
    width: 150px;
    justify-content: center;
}

.card-menu {
    padding: 20px 10vw;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px 0px solid rgba(0, 0, 0, 0.90);
}

.buttons-form {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}


.modal-header .btn-close {
    background-color: #727272;
    color: rgb(247, 247, 247);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
        inset -3px -3px 0 rgba(0, 0, 0, 0.5);
}

.modal-content{
    color: #ffffff;
    background-color: rgba(25, 24, 24, 0.9);
    border: 2px solid #a3a3a3;
    border-radius: 0;
}

.modal-body .buttons {
    display: flex;
    margin-bottom: 40px;
}

.modal-body .btn-plus {
    width: 50px;
    margin-left: 5px;
}

.modal-body .btn-excluir {
    font-size: 0.75rem;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    text-shadow: none;
}

.modal-footer .btn-primary {
    background: brown;
    color: rgb(247, 247, 247);
    width: 100%;
    padding: .5rem 0;
    margin-bottom: .75rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    letter-spacing: .025em;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
        inset -3px -3px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 40px;
}

.modal-footer .btn-default {
    background: #727272;
    color: rgb(247, 247, 247);
    width: 100%;
    padding: .5rem 0;
    margin-bottom: .75rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    letter-spacing: .025em;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
        inset -3px -3px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 100px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.alert {
    font-size: 0.75rem;
    border-radius: 0;
    border: 2px solid #a3a3a3;
    color: #ffff;
    background: #d13e3e;
    padding: 7px 5px;
    width: 360px;
}
