<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>

<body>
    <article>
        <section class="content-menu container-home container-cidade">


            <h1 class="titulo titulo-form text-center">Cidade</h1>

            <div>
                <table class="table-menu" id="cidades">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cidade : ${listaCidades}">
                            <td class="cidade-id" th:text="${cidade.id}"></td>
                            </td>
                            <td class=" cell-name-sex">
                                <p class="cidade-nome" th:text="${cidade.nome}"></p>
                            </td>
                            <td class="cell-buttons">
                                <a type="button" class="btn-minecraft btn-alterar btn-excluir js-delete"
                                    th:data-id="${cidade.id}"><img src="https://i.imgur.com/BAaUQSI.png"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="buttons-form">
                <a th:href="@{/cidade/novo}" class="btn-minecraft btn-menu">Adicionar Cidade</a>
                <a th:href="@{/paciente/novo}" class="btn-minecraft btn-menu">Voltar</a>
            </div>

        </section>
    </article>


    <footer th:include="layout :: footer">(footer)</footer>


    <script type="text/javascript">
        $(document).ready(function () {
            $("#cidades").on('click', '.js-delete', function () {
                let button = $(this);
                bootbox.confirm("Confirma a exclusão \
                    da cidade?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '/cidade/deletar/' + button.attr('data-id'),
                            method: 'GET',
                            success: function () {
                                window.location.href = '/cidade/';
                            }
                        });
                    }
                });
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#cidades').DataTable({
                "pageLength": 5,
                "lengthChange": false,
                "searching": false,
                "language":

                {
                    "decimal": "",
                    "emptyTable": "Nenhuma cidade cadastrada.",
                    "info": "Exibindo _START_ - _END_ de _TOTAL_ cidades",
                    "infoEmpty": "Exibindo 0 até 0 de 0 cidades",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "loadingRecords": "Carregando...",
                    "processing": "",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": ">",
                        "previous": "<"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },

                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".dataTables_empty ").before("<img src='https://mineblocks.com/1/wiki/images/8/89/Ghast.png' class='dataTables_empty_img' alt='Ghast Minecraft' />");
        });
    </script>
</body>

</html>