.dataTables_info,
.paginate_button {
    margin-top: 30px;
}

.page-link,
.paginate_button.active .page-link,
.page-link:focus,
#pacientes_previous .page-link:focus,
#pacientes_next .page-link:focus {
    background: #727272;
    color: rgb(247, 247, 247);
    width: 40px;
    padding: .5rem 0;
    margin-bottom: .75rem;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
    font-size: 1rem;
    letter-spacing: .025em;
    border: 2px solid rgba(0, 0, 0, 1);
    box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.5),
        inset -3px -3px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.previous .page-link,
.next .page-link {
    border: 2px solid rgba(0, 0, 0, 1) !important;
    color: rgb(247, 247, 247) !important;
    background: #727272 !important;
}

.paginate_button.active .page-link {
    color: rgb(247, 247, 247);
    background: rgba(115, 107, 221, 1);
}

.page-link:hover {
    color: rgb(247, 247, 247);
    background: #727272;
}

.page-link:focus {
    color: rgb(246, 246, 44);
    background: #727272;
    outline: none;
}