.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.titulo-form {
    padding: 80px;
}


.label {
    white-space: nowrap;
    color: #a3a3a3;
    padding: 4px;
}


.form-control,
.form-control:focus {
    color: #E0E0E0;
    text-shadow: 2px 2px 0px #383838;
    width: 600px;
    background: black;
    border-radius: 0;
    border: 2px solid #a3a3a3;
    box-shadow: none;
}

/* Muda o estilo do auto completar dos inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #E0E0E0;
    transition: background-color 5000s ease-in-out 0s;
}

.form-control:focus {
    border: 3px solid #ffffff;
}

.sexo-dataNasc,
.cidade-plano {
    display: flex;
    justify-content: space-between;
}

.sexo-dataNasc .form-control,
.sexo-dataNasc .form-control:focus {
    width: 250px;
}

.form-select,
.form-select:focus {
    width: 300px;
    border-radius: 0;
    background: url(https://i.imgur.com/BbYQ2mx.png) 100% / 8% no-repeat #727272;
}

.btn-planos {
    display: block;
    width: 200px;
}

.buttons-form {
    margin-top: 50px;
}

.buttons-form .btn-menu {
    width: 400px;
}

.label-procedimento {
    margin-top: 20px;
}

.label-procedimento button{
    width: 300px;
}


.modal-footer .buttons {
    display: flex;
}

.modal-footer .form-select,
.modal-footer .btn-plus {
    font-size: 0.875rem;
    width: 240px;
    height: 40px;
}

.modal-footer .btn-plus {
    width: 40px;
}