.container-pacienteForm {
    display: flex;
    justify-content: space-between;
}

.titulo-form {
    padding: 80px;
}


.label {
    white-space: nowrap;
    color: #a3a3a3;
    padding: 4px;
}


.form-control,
.form-control:focus{
    color: #E0E0E0;
    text-shadow: 2px 2px 0px #383838;
    width: 600px;
    background: black;
    border-radius: 0;
    border: 2px solid #a3a3a3;
    box-shadow: none;
}

/* Muda o estilo do auto completar dos inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #E0E0E0;
  transition: background-color 5000s ease-in-out 0s;
}

.form-control:focus {
    border: 3px solid #ffffff;
}

.sexo-dataNasc {
    display: flex;
    justify-content: space-between;
}

.sexo-dataNasc .form-control,
.sexo-dataNasc .form-control:focus {
    width: 250px;
}

.form-select,
.form-select:focus {
    width: 600px;
    border-radius: 0;
}

.buttons-form {
    margin-top: 120px;
}

.buttons-form .btn-menu {
    width: 400px;
}

.plano {
    align-items: center;
    display: flex;
}

.plano .buttons {
    margin-left: 40px;
    display: flex;
}
.plano .btn-minecraft {
    margin: 0 0 0 5px;
    width: 150px;
}

.plano .btn-plus {
    width: 50px;
}
