<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>

<body>
    <form th:action="@{/cidade/(form)}" th:object="${cidade}" method="POST">
        <article>
            <section class="content-menu container-home container-paciente container-pacienteForm">
                <input type="hidden" th:field="*{id}">

                <h1 class="titulo titulo-form text-center">Cidade</h1>

                <div>
                    <label class="label" for="txtnome">Nome</label>
                    <input class="form-control" th:field="*{nome}" type="text" id="txtnome">
                    <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger" />
                </div>

                <div class="buttons-form">
                    <button type="submit" name="save" class="btn-minecraft btn-menu">Adicionar</button>
                    <a th:href="@{/cidade/}" class="btn-minecraft btn-menu">Cancelar</a>
                </div>

            </section>
        </article>

    </form>

    <footer th:include="layout :: footer">(footer)</footer>

</body>

</html>