<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>

<body>
    <form th:action="@{/medico/(form)}" th:object="${medico}" method="POST">

        <article>
            <section class="content-menu container-home container-paciente">
                <h1 class="titulo titulo-form">Medico</h1>

                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <div class="row">
                        <div class="col-8">

                            <label class="label" for="txt-nome">Nome</label>
                            <input type="text" class="form-control" th:field="*{nome}" id="txt-nome">
                            <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger">
                            </p>

                            <label class="label" for="txt-CRM">CRM</label>
                            <input type="text" th:field="*{CRM}" class="form-control" id="txt-CRM">

                            <p th:if="${#fields.hasErrors('CRM')}" th:errors="*{CRM}" class="alert alert-danger">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="label-procedimento">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#procedimentoModal"
                        class="btn-minecraft btn-planos">Alterar procedimentos</button>
                </div>

                <div class="buttons-form">
                    <button type="submit" name="save" class="btn-minecraft btn-menu">Enviar</button>
                    <a th:href="@{/medico}" class="btn-minecraft btn-menu">Cancelar</a>
                </div>
            </section>
        </article>

        <!-- Modal -->
        <div class="modal fade" id="procedimentoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="procedimentoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="procedimentoModalLabel">Procedimentos de Saúde</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                        <div class="form-group">
                            <table class="table-menu" id="procedimentos">
                                <thead>
                                    <tr>
                                        <th>Descrição</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="umProcedimento, stat : *{listaProcedimentos}">
                                        <td  class="plano-descricao" th:text="${umProcedimento.descricao}"></td>
                                        <input type="hidden" th:field="*{listaProcedimentos[__${stat.index}__].id}" />
                                        <input type="hidden"
                                            th:field="*{listaProcedimentos[__${stat.index}__].descricao}" />
                                        <td>
                                            <button type="submit" name="removeitem" th:value="__${stat.index}__"
                                                class="btn-minecraft btn-alterar btn-excluir">X</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="buttons">
                            <select th:field="*{procedimentoId}" class="form-select btn-minecraft page-link">
                                <option th:each="umProcedimento : ${listaProcedimentos}" th:value="${umProcedimento.id}"
                                    th:text="${umProcedimento.descricao}">
                                </option>

                            </select>
                            <button type="submit" name="incproced" class="btn btn-minecraft btn-plus">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <footer>
        <div th:include="layout :: footer">(footer)</div>
    </footer>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#procedimentos').DataTable({
                "lengthChange": false,
                "searching": false,
                "info": false,
                "bPaginate": false,
                "language":

                {
                    "decimal": "",
                    "emptyTable": "Nenhum procedimento vinculado.",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "loadingRecords": "Carregando...",
                    "processing": "",
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".dataTables_empty ").before("<img src='https://mineblocks.com/1/wiki/images/8/89/Ghast.png' class='dataTables_empty_img' alt='Ghast Minecraft' />");
        });
    </script>
</body>

</html>