<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>
<link rel="stylesheet" href="style.css">

<body>
    <header>
    </header>

    <main>
        <div class="content-menu container-home container-paciente">
            <h1 class="titulo titulo-form">Medico</h1>
            <form th:action="@{/medico/(form)}" th:object="${medico}" method="POST">

                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <div class="row">
                        <div class="col-8">

                            <label class="label" for="txt-nome">Nome</label>
                            <input type="text" class="form-control" th:field="*{nome}" id="txt-nome">

                            <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger">
                            </p>

                            <label class="label" for="txt-CRM">CRM</label>
                            <input type="text" th:field="*{CRM}" class="form-control" id="txt-CRM">

                            <p th:if="${#fields.hasErrors('CRM')}" th:errors="*{CRM}" class="alert alert-danger">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="buttons-form">
                    <button type="submit" class="btn-minecraft btn-menu">Enviar</button>
                    <a th:href="@{/medico}" class="btn-minecraft btn-menu">Cancelar</a>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div th:include="layout :: footer">(footer)</div>
    </footer>
</body>

</html>