<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>

<body class="content-menu">
    <header>
    </header>

    <section>
        <div class="container-home container-medico">
            <h1 class="titulo">Medico</h1>

            <div class="card-menu">
                <table class="table-menu table-striped" id="medicos">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="medico : ${listaMedicos}">
                            <td class="medico-id paciente-id" th:text="${medico.id}"></td>
                            <td class="medico-avatar paciente-avatar"><img
                                    src="https://lh3.googleusercontent.com/WfV8cwc9qxq4RICkJWr8fSwOC4kusDNsTGmsacCdQKWiqCiVWdRY1xGhGwoLUaVm2UFGLkjvrubFUzSSATizcTe5md5HB_Me-0a0=s400"
                                    alt=""></td>
                            <td class="medico-nome paciente-nome" th:text="${medico.nome}"></td>
                            <td class="medico-CRM" th:text="'CRM: ' + ${medico.CRM}"></td>

                            <td class="cell-buttons">
                                <a type="button" th:href="@{'/medico/alterar/'+${medico.id}}" href=""
                                    class="btn-minecraft btn-alterar"><img src="https://i.imgur.com/2svnRfB.png"
                                        alt=""></a>
                                <a type="button" class="btn-minecraft btn-alterar btn-excluir js-delete"
                                    th:data-id="${medico.id}"><img src="https://i.imgur.com/BAaUQSI.png" alt=""></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="buttons-menu">
                <a th:href="@{/}" class="btn-minecraft btn-menu">Voltar</a>
                <a th:href="@{/medico/novo}" class="btn-minecraft btn-menu">Novo</a>
            </div>
    </section>

    <footer>
        <div th:include="layout :: footer">(footer)</div>
    </footer>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#medicos").on('click', '.js-delete', function () {
                let button = $(this);
                bootbox.confirm("Confirma a exclusão \
                    do registro?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '/medico/deletar/' + button.attr('data-id'),
                            method: 'GET',
                            success: function () {
                                window.location.href = '/medico/';
                            }
                        });
                    }
                });
            });
        });
    </script>
</body>

</html>