<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="htmlhead">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="http://fonts.cdnfonts.com/css/minecraftia" rel="stylesheet">
</head>

<body>
    <div class="container-xxl">
        <nav th:fragment="menu" class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/paciente">Paciente</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/medico">Médico</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/procedimento">Procedimento</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <footer th:fragment="footer" id="footer">
        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/bootbox.js/4.4.0/bootbox.js}"></script>
    </footer>
</body>

</html>