<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>

<body>
    <form th:action="@{/paciente/(form)}" th:object="${paciente}" method="POST">
        <article>
            <section class="content-menu container-home container-paciente container-pacienteForm">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <h1 class="titulo titulo-form text-center">Paciente</h1>

                    <div>
                        <label class="label" for="txtnome">Nome</label>
                        <input class="form-control" th:field="*{nome}" type="text" id="txtnome">
                        <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger" />
                    </div>
                    <div class="sexo-dataNasc">
                        <div>
                            <label class="label label-sexo" for="txtsexo">Sexo</label>
                            <input class="form-control input-sexo" th:field="*{sexo}" placeholder="Masculino/Feminino"
                                type="text" id="txtsexo">
                            <p th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}" class="alert alert-danger" />
                        </div>
                        <div>
                            <label class="label" for="txtdatanascimento">Data Nascimento</label>
                            <input class="form-control" th:field="*{dataNascimento}" type="date" id="txtdatanascimento"
                                required>
                        </div>
                    </div>
                    <div class="form-group cidade-plano">
                        <div>
                            <label class="label">Cidade</label>
                            <select th:field="*{cidadeId}" class="form-select btn-minecraft page-link select-cidade"
                                required>
                                <option th:each="cidade : ${listaCidades}" th:value="${cidade.id}"
                                    th:text="${cidade.nome}">
                                </option>
                            </select>
                            <p th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"
                                class="alert alert-danger" />
                        </div>
                        <div class="label-plano">
                            <label class="label">Plano de Saúde</label>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#planoModal"
                                class="btn-minecraft btn-planos">Alterar planos</button>
                        </div>
                    </div>

                    <div class="buttons-form">
                        <button type="submit" name="save" class="btn-minecraft btn-menu">Enviar</button>
                        <a th:href="@{/paciente}" class="btn-minecraft btn-menu">Cancelar</a>
                    </div>
            </section>
        </article>


        <!-- Modal -->
        <div class="modal fade" id="planoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="planoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="planoModalLabel">Planos de Saúde</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="buttons">
                            <select th:field="*{planoId}" class="form-select btn-minecraft page-link">
                                <option th:each="umPlano : ${listaPlanos}" th:value="${umPlano.id}"
                                    th:text="${umPlano.nome}">
                                </option>

                            </select>
                            <button type="submit" name="incplano"
                                class="btn btn-primary btn-minecraft btn-plus">+</button>
                        </div>

                        <div class="form-group">
                            <table class="table-menu">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="umPlano, stat : *{listaPlanos}">
                                        <td th:text="${umPlano.nome}"></td>
                                        <input type="hidden" th:field="*{listaPlanos[__${stat.index}__].id}" />
                                        <input type="hidden" th:field="*{listaPlanos[__${stat.index}__].nome}" />
                                        <td>
                                            <button type="submit" name="removeitem" th:value="__${stat.index}__"
                                                class="btn-minecraft btn-alterar btn-excluir">Remover</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-minecraft btn-menu"
                            data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <footer th:include="layout :: footer">(footer)</footer>

</body>

</html>