<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead">

</head>

<body class="content-menu">
    <header>
    </header>

    <section>
        <div class="container-home container-paciente">
            <h1 class="titulo">Paciente</h1>

            <div class="card-menu">
                <table class="table-menu table-striped" id="pacientes">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="paciente : ${listaPacientes}">
                            <td class="paciente-id" th:text="${paciente.id}"></td>
                            <td class="paciente-sexo" id="sexo">
                                <span class="paciente-avatar" th:if="${paciente.sexo == 'Masculino'}"><img
                                        src="https://i.imgur.com/5oWlmFp.png" alt=""></span>
                                <span class="paciente-avatar" th:unless="${paciente.sexo == 'Masculino'}"><img
                                        src="https://i.imgur.com/45GjLuY.jpg" alt=""></span>
                            </td>
                            <td class=" cell-name-sex">
                                <p class="paciente-nome" th:text="${paciente.nome}"></p>
                                <p class="paciente-dataNascimento" th:text="${paciente.dataNascimento}"></p>
                            </td>
                            <td class="paciente-cidade" th:text="${paciente.cidade.nome}"></td>
                            <td class="cell-buttons">
                                <a type="button" th:href="@{'/paciente/alterar/'+${paciente.id}}" href=""
                                    class="btn-minecraft btn-alterar"><img src="https://i.imgur.com/2svnRfB.png"></a>
                                <a type="button" class="btn-minecraft btn-alterar btn-excluir js-delete"
                                    th:data-id="${paciente.id}"><img src="https://i.imgur.com/BAaUQSI.png"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="buttons-menu">
                <a th:href="@{/}" class="btn-minecraft btn-menu">Voltar</a>
                <a th:href="@{/paciente/novo}" class="btn-minecraft btn-menu">Novo</a>
            </div>

        </div>
    </section>

    <footer>
        <div th:include="layout :: footer">(footer)</div>
    </footer>

    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#pacientes").on('click', '.js-delete', function () {
                let button = $(this);
                bootbox.confirm("Confirma a exclusão \
                    do registro?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '/paciente/deletar/' + button.attr('data-id'),
                            method: 'GET',
                            success: function () {
                                window.location.href = '/paciente/';
                            }
                        });
                    }
                });
            });
        });
    </script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#pacientes').DataTable({
                "pageLength": 4,
                "lengthChange": false,
                "searching": false,
                "language":

                {
                    "decimal": "",
                    "emptyTable": "Nenhum dado disponível",
                    "info": "Exibindo _START_ - _END_ de _TOTAL_ pacientes",
                    "infoEmpty": "Exibindo 0 até 0 de 0 pacientes",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "loadingRecords": "Carregando...",
                    "processing": "",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Última",
                        "next": ">",
                        "previous": "<"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },

                }
            });
        });
    </script>

</body>

</html>