<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: htmlhead"></head>

<body class="content">
    <div>
        <header>
            <!-- <nav th:replace="layout :: menu">(menu)</nav>  -->
        </header>

        <section class="container-home">
            <div class="image-logo">
                <img src="https://i.imgur.com/juyXi4L.png" alt="logo healthcraft">
            </div>

            <div class="menu">
                <a type="button" href="/paciente" class="btn-minecraft">Paciente</a>
                <a type="button" href="/medico" class="btn-minecraft">Médico</a>
                <a type="button" href="/procedimento" class="btn-minecraft">Procedimento</a>
            </div>

            <div class="menu-options">
                <a type="button" href="/" class="btn-minecraft">Sobre...</a>
                <a type="button" href="https://github.com/ramonvc" target="_blank" class="btn-minecraft">GitHub</a>
            </div>
        </section>

        <footer>
            <div th:include="layout :: footer">(footer)</div>
        </footer>

    </div>
</body>

</html>